<p>&copy; 2009-<%= Time.now.strftime('%Y') %>, Asa Hopkins.</p> 
<p>A project of <a href="http://www.opencampaigns.net/" title="Open source grassroots political campaign software">Open Campaigns</a>. Hosted on <a href="http://railsboxcar.com/" title="Rails hosting">Boxcar</a>.</p>
<p><span><%= @cached_data[:link_count] -%></span> happy tinyThom.as URLs and counting. <a href="http://github.com/asahopkins/rubyurl/issues">Feature Requests / Issues?</a></p>