<div id="info_content">
  <h1>What is tinyThom.as?</h1>

  <p>In a nutshell, tinyThom.as is an online tool for preserving the webpages served up by <a href="http://thomas.loc.gov">http://thomas.loc.gov</a> for documents related to the U.S. Congress. tinyThom.as generates full-size permanent URLs for <em>THOMAS</em> pages, and also generates short URLs which redirect to those long URLs in order to make them easy to pass around via Twitter, Email, Facebook, etc. We've also provided a public API so that you can generate tinyThom.as URLs in your web applications.</p>

	<h2>Why is tinyThom.as necessary?</h2>

	<p>Try this link: <a href="http://thomas.loc.gov/cgi-bin/bdquery/D?d111:2:./temp/~bd5CYL::|/bss/|">http://thomas.loc.gov/cgi-bin/bdquery/D?d111:2:./temp/~bd5CYL::|/bss/|</a>. It worked if you visited <em>THOMAS</em>  on November 7, 2009, but it won't work for you now. <em>THOMAS</em> serves most of its results using these links which shut off over time, and only presents permanent links for <a href="http://thomas.loc.gov/home/handles/help.html">few</a> of the many kinds of content it serves.</p>

	<h2>How does tinyThom.as work?</h2>

	<p>When you send tinyThom.as a URL, it quickly loads the page from the Library of Congress (before the link expires) and then examines the content of the page to determine what search criteria it can use to bring you back to that same page. For example, for a Bill Summary and Status page (<a href="http://thomas.loc.gov/cgi-bin/bdquery/z?d111:H.R.3477:">example</a>), it finds the bill number and the congressional session, and then generates a URL which searches for just that information. At the same time, it makes a tinyThom.as URL, like <a href="http://tinythom.as/0fjZ">http://tinythom.as/0fjZ</a> which you can use to pass the link around without dealing with the long <em>THOMAS</em> URLs.</p>

	<h2>What kinds of content does tinyThom.as understand?</h2>
	
	<p><strong>Bill Summary and Status</strong>, like <a href="http://thomas.loc.gov/cgi-bin/bdquery/z?d111:H.R.3477:">this page</a>, as well as each of the sub-pages linked from the summary (like the cosponsors, committees, and CRS summary).</p>

	<p><strong>Bill Text</strong>, like <a href="http://thomas.loc.gov/cgi-bin/query/z?c111:S.1796:">this page</a>.</p>

	<p><strong>Nominations</strong>, like <a href="http://thomas.loc.gov/cgi-bin/ntquery/z?nomis:111PN0037000:">this page</a>.</p>

	<p><strong>Congressional Record pages</strong>, like <a href="http://thomas.loc.gov/cgi-bin/query/R?r108:FLD001:E50456">this page</a>. (We hope to extend the code to allow it to bring you directly to the remarks in the record, rather than just the list of all remarks on a given page of the Record.)</p>
	
	<p>Some <strong>Committee Reports</strong>, like <a href="http://thomas.loc.gov/cgi-bin/cpquery/z?cp111:sr046.111:">this page</a>. Some committee reports are formatted differently, and those don't work yet.</p>
	
	<p><strong>Congressional Record Daily Digests</strong>, like <a href="http://thomas.loc.gov/cgi-bin/query/B?r111:@FIELD(FLD003+d)+@FIELD(DDATE+20091110)">this page</a>.</p>

	<p>In the future we hope to also process additional content from Thomas; please drop a line at with your requests or if you find a link that doesn't work right.</p>

	<h2>Integration with OpenCongress and GovTrack <a name="integration">&nbsp;</a></h2>
	
	<p><a href="http://www.opencongress.org">OpenCongress.org</a> and <a href="http://www.govtrack.us">GovTrack.us</a> provide ways for users to discuss legislation, look up bill text and status, learn more about their members of Congress, etc. tinyThom.as makes it easy to find the pages on these sites which correspond to bills in Thomas:
		<ul>
			<li><strong>Put "/oc" at the end of a tinyThom.as URL</strong>, like this: <a href="http://tinythom.as/8p9O/oc">http://tinythom.as/8p9O/oc</a> and tinyThom.as will direct that link to the page on OpenCongress, if it exists.</li>
			<li><strong>Put "/gt" at the end of a tinyThom.as URL</strong>, like this: <a href="http://tinythom.as/8p9O/gt">http://tinythom.as/8p9O/gt</a> and tinyThom.as will direct that link to the page on GovTrack, if it exists.</li>				
		</ul>
	In both cases, if the bill doesn't have a good page on the other site (or it's a tinyThom.as link pointing at something other than a bill), it'll just take you straight to Thomas.</p>

	<h2>About the code</h2>

  <p>tinyThom.as was written mostly by Asa Hopkins, an open source <a href="http://www.opencampaigns.net">developer</a> and political activist, with help from others (thanks to the open source code). It is heavily based on the open source code written by Robby Russell for <a href="http://rubyurl.com">http://rubyurl.com</a>, and the code for tinyThom.as is also open source and available on <a href="http://github.com/asahopkins/rubyurl">Github</a>.</p>

  <p>Thanks to <a href="http://chrisgriffin.org">Chris Griffin</a> for providing the design of RubyURL that tinyThom.as is based on.</p>

	<p>Thanks to the folks on the <a href="http://wiki.sunlightlabs.com/Project_Ideas">Sunlight Labs wiki</a> for the idea to build this application.</p>
	
</div> <!-- end info_content -->

