<div id="app_content">
<h1>YOUR LINK HAS EXPIRED</h1>
<h2>Links from <a href="http://thomas.loc.gov">http://thomas.loc.gov</a> expire after a short while (somewhere between 15 and 60 minutes). Please do your search on Thomas again, and then use tinyThom.as to generate a permanent URL promptly so that you won't be foiled by this again.</h2>
<p>If you think you ended up here by mistake (<%= link_to 'your URL', @website_url %> still works), you might <a href="http://github.com/asahopkins/rubyurl/issues">submit a bug report</a> to explain what happened so that we can try to fix it for you. :-)</p>

<div id="action">
	<%= link_to 'Go Back', '/' -%>
</div>
</div><!-- end app_content -->