<div id="app_content">
<h1>OH NO! YOUR LINK IS BROKEN</h1>
<h2>tinyThom.as works only with search URLs from <a href="http://thomas.loc.gov">http://thomas.loc.gov</a>.</h2>
<p>If your link looks like "http://thomas.loc.gov/cgi-bin/thomas", that's not enough for tinyThom.as to go on; we need a URL with a "?" in it.</p>
<p>If you have a moment, you might <a href="http://github.com/asahopkins/rubyurl/issues">submit a bug report</a> to explain what happened so that we can try to fix it for you. :-)</p>

<div id="action">
	<%= link_to 'Go Back', '/' -%>
</div>
</div><!-- end app_content -->