<div id="info_content">
<h1>Report Abuse</h1>

<p>The team behind tinyThom.as hates spam just as much as you do. </p>
  
<p>Unfortunately, we cannot prevent people from using the tinyThom.as service and pasting links into spam emails, wiki pages, and blog comments, although hopefully all they're able to do is make links to THOMAS sites. If you found your way to tinyThom.as due to spamming, please <%= mail_to 'asahopkins@gmail.com', "send us an email", :encode => "javascript" -%> to report the offending RubyURL and we'll flag it for review.</p>

<p>Thanks!<br />-The tinyThom.as team</p>
</div>